@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(226, 204, 247);
  color: white;
  padding-bottom: 70px;
}

.page-heading {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 40px;
}